<%inherit file="/media/base.html"/>

<%def name="page_name()">
git'r'uploaded
</%def>

<style>
    #create_media span {
        width: 135px;
        display:block;
        float: left;
    }
    #create_media select, #create_media input {
        width: 185px;
    }
</style>

<form id="create_media"
      method="POST"
      enctype="multipart/form-data"
      action="/media/create/">
    <label>
        <span>title:</span> <input type="text" name="title"/>
    </label><br>
    <label>
        <span>comment:</span><input type="text" name="comment"/>
    </label><br>
    <label>
        <span>album:</span>
        <input type="text" name="album_name"/> or
        <select name="album_id">
        % for album in request.user.albums:
            <option value="${album.id}">${album.name}</option>     
        % endfor
        </select>
    </label><br>
    <label>
        <span>rating:</span>
        <select name="rating">
            % for i in xrange(6):
                <option value="${i}">${i * '&hearts;'}</option>
            % endfor
        </select>
    </label><br>
    <label>
        <span>file:</span><input type="file" name="file_data"/>
    </label><br><br>
    <input type="submit" value="Create" name="action"/><br>
</form>
