<%inherit file="/media/base.html"/>

<%def name="page_title()">
media4u
</%def>

<%def name="page_title()">
media, glorious media
</%def>

<%def name="page_header()">
Looking for something ?
</%def>

<%def name="page_name()">
have a look @ our wares
</%def>

<style>
    .media_container .media {
        margin: 10px;
        float: left;
    }
</style>

<style>
    .links {
        margin-bottom: 10px;
    }
</style>

<div class="links">
    <a href="./create">create</a>
</div>

<div class="media_container">
    % for media in frontpage_media:
     
    <a href="/media/${media.id}/">
        <img class="media"
             src="/media/data/${media.id}?size=250"
             title="${media.title} by ${media.user.handle}"/>
    </a>

    % endfor
</div>
