<%inherit file="/media/base.html"/>
<%namespace file="/media/views.html" name="m"/>
<%namespace file="/users/views.html" name="u"/>
<%namespace file="/albums/views.html" name="a"/>
<%namespace file="/tags/views.html" name="t"/>

<%def name="page_title()">
% if media:
    ${media.title}
% else:
    ${search}
% endif
</%def>

<%def name="page_header()">
% if media:
    ${m.link(media)}
    <span style="font-size:.6em;">
        by ${u.compact(media.user)}
        % if media.albums:
            (${', '.join([a.link(album) for album in media.albums])})
        % endif
        % if media.tags:
            [${', '.join([t.link(tag) for tag in media.tags])}]
        % endif
    </span>
% else:
    Not found!
% endif
</%def>

<style>
    .media_container { margin-bottom: 20px; }
    .media_container .media { }
    .media_container img { border: 1px solid black; }
    .comment { font-size: .8em; }
    .comment .rating { font-size: .5em; }
    .comment .handle { font-size: .8em; }
    form.add_comment { margin-top: 20px; }
</style>



% if media:
    ${m.large_view(media,800)}
% endif
