<%inherit file="/media/base.html"/>

<%def name="page_title()">
Results!
</%def>

<%def name="page_header()">
hope you like it
</%def>

<%def name="page_name()">
% if not isinstance(media,list):
    ${media.title} by ${media.user.handle}
% elif len(media):
    ${media[0].title}
    <span style="font-size:.6em;">
        by ${media[0].user.handle}
    </span>
% else:
    ${search}
% endif
</%def>

<style>
    .media_container .media { }
    .media_container img { border: 3px solid black; }
    .comment { font-size: .8em; }
    .comment .rating { font-size: .5em; }
    .comment .handle { font-size: .8em; }
</style>

% for m in media:
    <div class="media_block">
        <div class="media_container">
            % if m.extension.lower() in ('gif','jpeg','jpg','png'):
                <a href="/media/data/${m.id}">
                    <img class="media"
                         title="${m.title} by ${m.user.handle}"
                         src="/media/data/${m.id}?size=600"/>
                </a>
            % else:
                media extension unknown!
            % endif
        </div>
        % for c in m.comments:
            <div class="comment" title="${c.title or ''}">
                ${c.content or ''}
                <span class="rating">
                    ${(c.rating or 0) * '&hearts;'}
                </span>
                <span class="handle">
                    ${c.user.handle or ''}
                </span>
            </div>
        % endfor
    </div>
% endfor
