<%inherit file="/base.html"/>

<h1>Photo collection downloads from England</h1>
<p>
    <a href="http://oneinchmile.com/England.zip">
    All the photo's taken by the hired photographer as well
    as some taken by</a>
    <a href="http:/www.jenniferamitchell.com">Jennifer Mitchell</a>
</p>
<h1>Photo collection download for Florida</h1>
<p>
    <a href="http://oneinchmile.com/Florida.zip">
    All the photo's taken by the hired photographer</a>
</p>

<br/>

<p>
Upload your photo's to the Robby & Lizz Wedding photo album!
</p>

<p>
<a href="/media/create/">Click here to start uploading photos!
</p>

<p>
<a href="/album/">Click here to see what has been uploaded so far!</a>
</p>

