<%inherit file="/base.html"/>

<p>
    This is BETA and has a limited amount of disk space at the moment, be nice.
    <br>
    <a href="/contact_me">contact me w/ suggestions and such</a>
</p>

<h3>What ranshous.com wants to be:</h3>
<ul>
    <li>private</li>
    <li>easy to use</li>
    <li>photo and video repository</li>
</ul>

<h3>What ranshous.com does not want to be:</h3>
<ul>
    <li>annoying</li>
    <li>flickr</li>
    <li>intrusive</li>
    <li>clunky</li>
</ul>

<h3>Why ranshous.com exists:</h3>
<ul>
    <li>"I'd like to be able to go to ranshous.com and have a log on with password. Once on the site I'd like to be able to access all photos and video anyone put up. It would be good to have some sort of an album system and to see who posted what in case you want to ask them about something." - gary</li>
</ul>

<h3>current feature set:</h3>
<ul>
    <li>
        You can upload multiple media (under the same name / album / etc) (images only)
    </li>
    <li>
        You can currently upload media of all common image formats.
    </li>
    <li>
        When uploading new media you can create a new album for that media or add that media to an existing album that you created.
    </li>
    <li>
        All media can be commented on.
    </li>
</ul>

<h3>planned features:</h3>
<ul>
    <li>
        Better views / sorting when browsing sections
    </li>
    <li>
        The ability to edit the properties of your media and user (image / album / etc)
    </li>
    <li>
        The ability to upload multiple media at a time with unique names
    </li>
    <li>
        Styling and interface improvements
    </li>   
    <li>
        Get a larger hard drive =]
    </li>
</ul>

<p>
    This is BETA and has a limited amount of disk space at the moment, be nice.
    <br>
    <a href="/contact_me">contact me w/ suggestions and such</a>
</p>
